.vs/config/applicationhost.config
GoldSilver.Domain/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/GoldSilver/v14/.suo
GoldSilver.Domain/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
GoldSilver.WebUI/obj/Debug/GoldSilver.WebUI.csproj.FileListAbsolute.txt
*.dll
GoldSilver.WebUI/obj/Debug/GoldSilver.WebUI.pdb
*.dll
*.pdb
GoldSilver.Domain/obj/Debug/GoldSilver.Domain.csprojResolveAssemblyReference.cache
*.dll
*.dll
GoldSilver.WebUI/bin/GoldSilver.Domain.pdb
*.pdb
*.dll
GoldSilver.WebUI/obj/Debug/GoldSilver.WebUI.pdb
*.dll
GoldSilver.Domain/bin/Debug/GoldSilver.Domain.pdb
Backup/GoldSilver.WebUI/.vs/config/applicationhost.config
*.suo
Backup/GoldSilver.WebUI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
*.dll
GoldSilver.Domain/bin/Debug/GoldSilver.Domain.pdb
*.pdb
*.cache
**/bin/*
**/obj/*
