<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="EFDbContext" connectionString="Data Source=sql6003.site4now.net;Initial Catalog=DB_A2A6D2_gs001;User Id=DB_A2A6D2_gs001_admin;Password=6JBBZ9LxVSVddepV;" providerName="System.Data.SqlClient" />-->
    <add name="EFDbContext" connectionString="Data Source=DESKTOP-Q2L9CBD\SQLEXPRESS2017;Initial Catalog=Goldsilver2;User Id=sa;Password=P@ssw0rd;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>