@model GoldSilver.WebUI.Models.JewelriesListViewModel

@{
    ViewBag.Title = "Список всіх виробів";
}

<h2>Список всіх виробів</h2>

@{ foreach (var j in Model.Jewelries)
   {
       Html.RenderPartial("JewelSummary", j);
   }
   
   <div class="pager">
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, category = Model.CurrentCategory }))
   </div>
       
}
